/* Standard CSS Fallbacks / Overrides */

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}
.dark ::-webkit-scrollbar-track {
  background: #0B0F19;
}
.dark ::-webkit-scrollbar-thumb {
  background: #374151;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}